@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200;400;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Texturina', serif;
}

body{
    font-family: 'Texturina', serif;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(Images/bg-ship.jpg);
    background-size: cover;
    background-position: center;
}

header{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    padding: 18px 0px 10px 0px;
    box-sizing: border-box;
}

h2{
    text-align: center;
    /* margin: 0px 0px 30px 0px; */
    font-size: 35px;
    color: white;
}

section{
    margin-top: 60px;
}

.txt{
    height: 170px;
    width: 600px;
    margin: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 200;
    opacity: 0.8;
    padding: 10px;
    border: 1px solid black;
    /* box-shadow: 15px 9px 22px 5px black; */
}

.io-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.all-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 20px;
    height: 48px;
    width: 210px;
    font-size: 20px;
    font-weight: 800;
    /* background-color: #37a4c9;
    color: black; */
    background-color: black;
    color: white;
    padding: 4px 20px;
    transition: 0.4s;
    border: 1px solid white;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    transform: scale(1.1);
}

.output{
    pointer-events: none;
}

textarea{
    resize: none;
}
textarea:focus{
    outline: none;
}

i{
    color: white;
    margin-right: 5px;
}

.about-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0px;
    font-size: 17px;
    display: none;
}

.about-container div{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 60%;
    width: 512px;
    height: 140px;
    padding: 22px;
    /* background-color: #37a4c9; */
    background-color: black;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
}

.close-btn{
    position: absolute;
    top :1%;
    right:  0%;
    background: transparent;
    cursor: pointer;
    border: none;
}
.close-btn:focus{
  outline: none;
}

.about-container p{
    text-align: justify;
}


.about-container div i{
  font-size: 20px;
}